// COLORS
$color-primary: #858ae3;
$color-primary-light: #97dffc;
$color-primary-dark: #613dc1;

$color-secondary-light: #48bfe3;
$color-secondary-dark: #5390d9;

$color-tertiary-light: #80ffdb;
$color-tertiary-dark: #64dfdf;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// #97dffc
// #858ae3
// #613dc1
// #a3d5ff
// #83c9f4
// #6f73d2

//#7400b8
//#6930c3
//#5e60ce
//#5390d9
//#4ea8de
//#48bfe3
//#64dfdf
//#72efdd
//#80ffdb
